<div class="row">
  <div class="col-md-12">
    <div class="center-block error-404">
      <section class="text-center custom-error">
        <h1><span>404</span> Error</h1>

        <h2>Page not found</h2>

        <p class="lead lead-lg">The requested URL was not found on this server. That is all we know.</p>
      </section>
    </div>
  </div>
</div>