<div class="row">
  <div class="col-md-12">
    <div class="center-block error-404">
      <section class="text-center custom-error">
        <h1><span>422</span> Error</h1>
        <h2>The request was well-formed but was unable to be followed due to semantic errors.</h2>
        <p class="lead lead-lg">Something has gone wrong we are trying to fix it.</p>
      </section>
    </div>
  </div>
</div>