<div id="spree-footer">
	<div class="container">
		<footer id="footer"  data-hook>
		  <div id="footer-left" class="col-md-12 text-center" data-hook>
		    <p>&copy; 2014 <%= link_to 'Fitncute', 'https://fitncute.herokuapp.com/' %>, inc. All rights reserved.<%#= Spree.t :powered_by  %></p>
		  </div>
		  <div id="footer-right" class="col-md-6 hidden" data-hook></div>
		</footer>
	</div>
</div>